# Default ignored files
/../../WEB16.04./.idea/shelf/
/../../WEB16.04./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../WEB16.04./.idea/httpRequests/
# Datasource local storage ignored files
/../../WEB16.04./.idea/dataSources/
/../../WEB16.04./.idea/dataSources.local.xml
